*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    min-height: 8vh;
    background: #fff;
    box-shadow: 0px 1px 0px #E5E9F2;
    position: relative;
    scroll-snap-align: center;
}

.logo {
    color: #573F7B;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
       img {
           margin-right: 3%;
       } 
}

.logo:hover {
    opacity: 0.7;
}

.nav-links {
    display: flex;
    width: 40%; 
    justify-content: space-around;
    text-transform: capitalize;
}

.nav-links li {
    list-style: none;
    
}

.nav-links a {
    color: #573F7B;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    font-family: 'Manrope', sans-serif;
}


.nav-links a:hover {
    opacity: 0.9;
}
.nav-links a:focus {
    opacity: 0.7;
}

.nav-links a::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    top: 25px;
    width: 0%;
    height: 2px;
    border-radius: 10px;
    margin: auto;
    transition: all .4s;
    opacity: 0;
    background-color: #573F7B;
}
.nav-links a:hover::after{
    width: 100%;
    opacity: 1;
}

.nav-links li a .login {
    position: absolute;
    top: -4px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    background: #F5F5F5;
    outline: none;
    color: #573F7B;
    font-family: 'Manrope', sans-serif;
}

.nav-links li a .login:hover {
    opacity: 0.7;
    background-color:  #573F7B;
    color: #fff;
}

.nav-links li a .signup {
    position: absolute;
    top: -4px;
    align-self: center;
    justify-self: center;
    left: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    background: #573F7B;
    outline: none;
    color: #fff;
    font-family: 'Manrope', sans-serif;
}

.nav-links li a .signup:hover {
    opacity: 0.7;
    background-color:  #fff;
    color:#573F7B;
}

.burger {
    display: none;
    cursor: pointer;
}


.burger .line0 {
    width: 30px;
    height: 4px;
    background-color: #573F7B;
    margin: 5px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.burger .line1 {
    width: 30px;
    height: 4px;
    background-color:#573F7B;
    margin: 5px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.burger .line2 {
    width: 30px;
    height: 4px;
    background-color: #573F7B;
    margin: 5px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    nav {
        justify-content: space-evenly;
        min-height: 5vh;
    }
    .nav-links {
        width: 50%; 
        
    }
}

@media screen and (max-width:768px) {
    body {
        overflow: hidden;
    }

    nav {
        box-shadow: 0px 0px 0px;
        min-height: 2vh;
        padding: 20px;
        justify-content: space-between;
    }
    .nav-links {
        
        display: none;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
       
    }
    .logo {
        font-size: 16px;
        font-weight: bold;
        z-index: 1;
    }

    .nav-links li a .login {
        position: relative;
        top: 0;
    }

    .nav-links li a .signup {
       left: 0;
       top: 0;
       position: relative;
    }
}

.nav-active {
    transform: translate(0%);
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background:#fff;
    color: #573F7B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease-in;
    z-index: 999999999 !important;
}

@keyframes navlinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line0 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle .line1 {
    opacity: 0;
}

.toggle .line2 {
    transform: rotate(42deg) translate(-6px, -6px);
    margin-top: 5px;
    
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

// section {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     width: 100%;
//     height: 100vh ;
//     scroll-snap-align: center;
// }

.first-sec {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    height: 100vh ;
    margin-bottom: 10%;
        .first-sec-in {
            
            h1 {
                font-size: 70px;
                color: #201047;
                margin-top: 15%;
                font-family: Recoleta, 'Manrope', sans-serif;
                font-weight: bold;
                line-height: 1.5;
                width: 125%;
                // font-feature-settings: 'liga' off;
            }

            button {
                background-color: #201047;
                border-radius: 8px;
                border: none;
                color: #fff;
                padding: 3% 6%;
                margin-top: 3%;
                font-size: 20px;
                outline: none;
            }

            button:hover {
                color: #201047;
                background-color: #f5f5f5;
                opacity: 0.8;
                font-weight: 700;
                text-shadow: 0px 1px 0px #E5E9F2;
            }
        }

        .second-sec-in {
            .files-svg {
                position: relative;
                z-index: -1;
            }

            .dot-svg {
                position: relative;
                left: -20%;
                z-index: -1;
            }
            .mobile {
                display: none;
            }
        }
}
@media screen and (max-width:1024px){
    .first-sec {
        .first-sec-in {
            h1 {
                font-size: 64px;
                width: 124%;
            }
        }
        .second-sec-in {
            .files-svg {
                height: 400px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .first-sec {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        padding: 10%;
        width: 100%;

        .first-sec-in {
                 h1 {
                     align-self: center;
                     font-size: 24px;
                     width: 100%;
                     font-weight: bold;
                 }
                 button {
                     display: none;
                 }
        }
    }

    .second-sec-in {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        .files-svg {
            margin-top: 10%;
            height: 300px !important;
            display: block;
        }

        .dot-svg {
            position: absolute;
            margin-left: -40%;
            height: 50px;
        }

        .mobile {
            background-color: #201047;
            border-radius: 8px;
            border: none;
            color: #fff;
            padding: 3% 7%;
            margin-top: 4%;
            font-size: 16px;
            outline: none;
            display: block !important;
        }

        .mobile:hover {
            color: #201047;
            background-color: #f5f5f5;
            opacity: 0.8;
            font-weight: 700;
            text-shadow: 0px 1px 0px #E5E9F2;
        }
    }

    
}

@media screen and (max-width:320px) {
    .second-sec-in {
        .files-svg {
            height: 250px !important;
        }
    }
}